
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    background-color: #efefef;
    color: #555;
    font-family: Trebuchet MS, serif;
}

.game {
    margin: auto;
    width: 450px;
    height: 450px;
}

h1.title {
    font-size: 3.5em;
    text-align: center;
}

.game_info {
    padding: 20px;
}

.btn#reset {
    border: 2px solid #555;
    background-color: transparent;
    color: #555;
    /*padding: 14px 28px;*/
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    float: right;
    outline: 0;
}

#player {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}
#game_status {
    font-size: 2em;
    float:left;
}

.board {
    width: 100%;
    height: 100%;
}

.square {
    float: left;
    width: 33.3%;
    height: 33.3%;
    border-color: #555;
    border-width: 5px;
}

.square.left {
    border-right-style: solid;
}

.square.right {
    border-left-style: solid;
}

.square.top {
    border-bottom-style: solid;
}

.square.bottom {
    border-top-style: solid;
}

