
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    background-color: #F9C80E;
    font-family: Trebuchet MS, serif;
}

h1.title {
    font-size: 3.5em;
    text-align: center;
    color: #F86624;
}

#game {
    margin: auto;
    width: 450px;
    height: 450px;
}

.board {
    stroke:#F86624;
}

.x {
    stroke: #585858;
}
.o {
    stroke: #fcfcfc;
}

.space {
    fill: none;
}

