
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    background-color: #F9C80E;
    font-family: Trebuchet MS, serif;
}

h1.title {
    font-size: 3.5em;
    text-align: center;
    color: #F86624;
    margin-top: 20px;
    margin-bottom: 20px;
}

#game, .controller {
    margin: auto;
    width: 450px;
    height: 450px;
}

.controller {
    margin-top: 40px;
}

.btn-reset {
    border: 5px solid #F86624;
    width: 100%;
    background-color: transparent;
    color: #F86624;
    font-size: 2em;
    cursor: pointer;
    border-radius: 20px;
    outline: 0;
}

.board {
    stroke:#F86624;
}

.x {
    stroke: #585858;
}
.o {
    stroke: #fcfcfc;
}

.space {
    fill: none;
}

